* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 512px;
}

.wrapper {
    flex-grow: 1;
    display: flex;
    background-color: rgb(41, 39, 39);

    .left-side {
        width: 80px;
        background-color: rgb(28, 26, 27);
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding-top: 15px;

        img{
            width:30px;
            border-radius: 0.5rem;
        }
    }
    .right-side {
        flex-grow: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        margin: 10px;
        
        

        header {
            color: white;
            display: flex;
            flex-direction: column;
            padding-top: 10px;

            .messages {
                display: flex;
                justify-content: flex-start;
            }
            
            

            .header-btns {
                padding-top: 10px;
                display: flex;
                gap: 10px;
                
            }

            button {
                background-color: grey;
                border: solid grey;
                border-radius: 1rem;
                color: white;

                span {
                    font-size: 12px;
                }
                
            }

            .person-btn {
                  padding: 0 60px ;  

                }
            

        }
    }
}



footer {
    height: 80px;
    background-color: grey;
    flex-shrink: 0;
}