* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex-grow: 1;
    display: flex;
    background-color: blue;

    .left-side {
        width: 80px;
        background-color: rgb(28, 26, 27);
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        img{
            width:30px;
            border-radius: 1rem;
        }
    }
    .right-side {
        flex-grow: 1;
        overflow-y: auto;
    }
}



footer {
    height: 80px;
    background-color: grey;
    flex-shrink: 0;
}